{%- extends "base.html" %}

{% block title %}About Us{% endblock %}


{% block content %}
    <div class="panel panel-default" >
        <h1 align="center" style= "font-size: 45px"><b>Marvelus - Canvas Group 15</b></h1>

        <div class="panel-body">
            <!-- Description superheros, movies, tv shows, comics, creators, events-->
            <p align="center" style="font-size: 25px ; color: darkgray">Marvelus is for users who want to browse superheros, movies, TV shows, comics, creators, events having to do with the Marvel Universe. </p>

            <h3 align="center" style="color:black">Group Members</h3>

            <div class="container" style="margin-top:100px;">
              <div class="row">
                <div class="col-sm-4">
                  <div class="panel panel-info">
                    <div class="panel-heading"> Andrew Martin</div>
                    <div class="panel-body"><img src="https://scontent.fftw1-1.fna.fbcdn.net/v/t1.0-1/p160x160/14322268_10211279565933946_3771262133542931528_n.jpg?oh=9c8be291f45cd224eee23b176c01cf4b&oe=5A8652CE" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">
                        Andrew Martin

                        <li><b>Bio: </b> </li>
                        <li><b>Responsibilities: </b> <a href="{{url_for('frontend.show', page='tvshows.html')}}">TV Shows</a></li>
                        <li><b>No. of Commits: 31</b> </li>
                        <li><b>No. of Issues: </b> 6</li>
                        <li><b>No. of Unit Tests: </b> 0</li>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="panel panel-danger">
                    <div class="panel-heading">Bhavish Yalamanchi</div>
                    <div class="panel-body"><img src="https://d1b10bmlvqabco.cloudfront.net/attach/j65v8kewrx56xk/ijpb8t3798u7b/j7ppgtaf2ybt/cs373.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">
                        Bhavish Yalamanchi

                        <li><b>Bio: </b> </li>
                        <li><b>Responsibilities: </b><a href="{{url_for('frontend.show', page='events.html')}}">Events</a></li>
                        <li><b>No. of Commits: 8</b> </li>
                        <li><b>No. of Issues: </b> 4</li>
                        <li><b>No. of Unit Tests: </b> 0</li>
                      </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="panel panel-success">
                    <div class="panel-heading">Hannah Anees</div>
                    <div class="panel-body"><img src="https://hannahanees.files.wordpress.com/2017/09/blog-headshot.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">
                        Hannah Anees

                        <li><b>Bio: </b> Hannah Anees is in her third year of Computer Science at the University of Texas and will be graduating in 2019 with a Bachelor’s of Science degree. She enjoys conspiracy theories, urban myths and legends and anything else that might make the world seem more interesting. She also is interested in music and TV Shows and only tolerates some of the Marvel creations, most notably Spider-Man.</li>
                        <li><b>Responsibilities: </b><a href="{{url_for('frontend.show', page='actors.html')}}">Actors</a></li>
                        <li><b>No. of Commits: 21</b> </li>
                        <li><b>No. of Issues: </b> 4</li>
                        <li><b>No. of Unit Tests: </b> 0</li>
                      </div>
                  </div>
                </div>
              </div>
            </div><br>    
            <div class="container" style="margin-top:100px;">
              <div class="row">
                <div class="col-sm-4">
                  <div class="panel panel-info">
                    <div class="panel-heading"> Helen Salgi</div>
                    <div class="panel-body"><img src="https://github.com/hsalgi100/hsalgi100.github.io/blob/master/profpic.jpg?raw=true" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">
                        Helen Salgi

                        <li><b>Bio: </b>Sophomore majoring in Linguistics. Loves traveling and food and will be graduating in May 2020.</li>
                        <li><b>Observer</b></li>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="panel panel-danger">
                    <div class="panel-heading">Sunaina Krishnamoorthy</div>
                    <div class="panel-body"><img src="/static/sunaina.jpg"></div>
                    <div class="panel-footer">
                        Sunaina Krishnamoorthy

                        <li><b>Bio: </b> Sunaina Krishnamoorthy is a junior majoring in Computer Science at the University of Texas. She loves travel, photography and music. She will be graduating in May of 2019 with a Bachelor's degree in Computer Science.</li>
                        <li><b>Responsibilities: </b><a href="{{url_for('frontend.show', page='movies.html')}}">Movies</a></li>
                        <li><b>No. of Commits: 13</b> </li>
                        <li><b>No. of Issues: </b> 4</li>
                        <li><b>No. of Unit Tests: </b> 0</li>
                      </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="panel panel-success">
                    <div class="panel-heading">Tesia Wu</div>
                    <div class="panel-body"><img src="https://tesiawusite.files.wordpress.com/2017/09/10989147_1088983151127213_5678027862076400869_n.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">
                        Tesia Wu

                        <li><b>Bio: </b> Tesia Wu is a junior majoring in Computer Science at the University of Texas. She is a huge fan of the Korean boy band BTS and loves music and movies, especially the Marvel Cinematic Universe. She will be graduating in May of 2019 with a Bachelor's degree in Computer Science.</li>
                        <li><b>Responsibilities: </b><a href="{{url_for('frontend.show', page='characters.html')}}">Characters</a> and <a href="{{url_for('frontend.show', page='comicseries.html')}}">Comics</a></li>
                        <li><b>No. of Commits: 24</b> </li>
                        <li><b>No. of Issues: </b> 4</li>
                        <li><b>No. of Unit Tests: </b> 0</li>
                      </div>
                  </div>
                </div>
              </div>
            </div><br> 

            <h3 align="center" style="font-size: 30px"><b>Statistics</b></h3>
                <li align="center" style= "color: gray"><b>Total No. of Commits: </b> </li>
                <li align="center" style= "color: gray"><b>Total No. of Issues: </b> </li>
                <li align="center" style= "color: gray"><b>Total No. of Unit Tests: </b> 0</li>
                <li align="center" style= "color: gray"><b><a href="http://docs.marvelus.apiary.io/#">Apiary API</a></b> </li>
                <li align="center" style= "color: gray"><b><a href="https://github.com/AndrewCMartin/marvelus">GITHUB REPO</a></b> </li>
                <li align="center" style= "color: gray"><b><a href="https://trello.com/b/qLTaMYvu/marvelus">TRELLO</a></b> </li>

            <h3 align="center"><b>Data</b></h3>
                <!-- <li align="center" style= "color: gray"><b>Data Sources: </b> -->
                    
                        <li align="center"><a href="https://developer.marvel.com/docs">https://developer.marvel.com/docs</a></li> 
                        <li align="center"><a href="https://comicvine.gamespot.com/api/documentation">https://comicvine.gamespot.com/api/documentation</a></li>
                        <li align="center"><a href="https://www.themoviedb.org/documentation/api">The Movie Database</a>
                    
            <h3 align="center"><b>Tools used</b></h3>

            <a align="center" href="https://utexas.box.com/s/zimf1bvhu2r2dhw598shugcm4b7jr2do">Technical report</a>
        </div>
    </div>

{% endblock %}
