{%- extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
    <div class="panel panel-default" >
        <h1>Marvelus - Canvas Group 15</h1>

        <div class="panel-body">
            <!-- Description superheros, movies, tv shows, comics, creators, events-->
            <p>Marvelus is for users who want to browse superheros, movies, tv shows, comics, creators, events having to do with the Marvel Universe. </p>

            <h3>Group Members</h3>
            <ul>
                <li>Andrew Martin</li>
                <li>Bhavish Yalamanchi</li>
                <li>Hannah Anees</li>
                <li>Helen Salgi</li>
                <li>Sunaina Krishnamoorthy</li>
                <li>Tesia Wu</li>
            </ul>

            <h3>Statistics</h3>

            <h3>Data</h3>

            <h3>Tools used</h3>

            <a href="#">technical report</a>
        </div>
    </div>
{% endblock %}
