<!-- This file is the model Actors page, should have a grid of actor instances -->
{%- extends "base.html" %}

{% block title %}People{% endblock %}

{% block content %}
    <div class="container" style="margin-top:100px;">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-info">
            <div class="panel-heading"><a href="{{url_for('frontend.actor', name='robertdowneyjr')}}">Robert Downey Jr</a></div>
            <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTYyODUxNDU1Nl5BMl5BanBnXkFtZTcwNjI3MDA0OQ@@._V1_SY1000_CR0,0,681,1000_AL_.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">
              Robert Downey Jr.
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading"><a href="{{url_for('frontend.actor', name='ChrisEvans')}}">Chris Evans</a></div>
            <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTgxMzA4ODg1Ml5BMl5BanBnXkFtZTgwNDg1NDE2ODE@._V1_SY1000_CR0,0,714,1000_AL_.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">
                Chris Evans
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-danger">
            <div class="panel-heading"><a href="{{url_for('frontend.actor', name='TomHolland')}}">Tom Holland</a></div>
            <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTc5MjgxNDk4OV5BMl5BanBnXkFtZTgwMTk2OTM4MjI@._V1_SY1000_CR0,0,666,1000_AL_.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">
                Tom Holland
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading"><a href="{{url_for('frontend.actor', name='chrisPratt')}}">Chris Pratt</a></div>
            <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNzg3MTgwOTgzMV5BMl5BanBnXkFtZTgwODIxMTUwMjE@._V1_SY1000_CR0,0,666,1000_AL_.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">
                Chris Pratt
              </div>
          </div>
        </div>
      </div>
    </div><br>
{% endblock %}
