{%- extends "base.html" %}

{% block title %}Age of Apocolypse{% endblock %}

{% block content %}
<div class="container" style="margin: auto; margin-top:100px; width: 500px">
    <div class="panel panel-default" >
        <div class="panel-heading">
          <h1>Age of Apocolypse</h1>

        <div class="panel-body">
            <div class="panel-body"><img src="https://i.annihil.us/u/prod/marvel/i/mg/7/00/599b1cf83439a/detail.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <h3>Information</h3>
            <ul>
                <li><b>Writers:</b> Brian Michael Bendis</li>
                <li><b>Plot Points:</b> In a twisted version of the world they knew, the X-Men battle against the eternal mutant Apocalypse as Bishop seeks to repair the timeline. Legion, Xavier's own son, attempts to kill off all of Xavier's enemies; however, when Legion attempts to murder Magneto, Xavier sacrifices his own life to save Magnus. As a result, Magneto casts off his anti-human sentiments and carries on Xavier's dream of peaceful co-existence, thereby founding the X-Men.</li>
                <li><b>Characters:</b> Mystique, Wild Child, Abyss, Quicksilver</li>
                <li><b>Date:</b> March, 1995 - June, 1996</li>
                <li><b>Illustrators:</b> Joe Madureira, Roger Cruz, Steve Epting</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
