{%- extends "base.html" %}

{% block title %}Captain America{% endblock %}

{% block content %}
    <div class="panel panel-default" >
        <h1>Captain America</h1>

        <div class="panel-body">
            <div class="panel-body"><img src="http://cdn.playbuzz.com/cdn/8ace370e-0453-4890-8fea-995f32ac9530/5efa0fd9-4850-47d4-814b-af367ab3f973.jpg" class="img-responsive" class="img-responsive" style="width:100%" alt="Image"></div>
            <h3>Information</h3>
            <ul>
                <li><b>Name:</b> Captain America</li>
                <li><b>Power:</b> Superhuman</li>
                <li><b>Origin:</b> Vowing to serve his country any way he could, young Steve Rogers took the super soldier serum to become America's one-man army. Fighting for the red, white and blue for over 60 years, Captain America is the living, breathing symbol of freedom and liberty.</li>
                <li><b>Real Name:</b> Steve Rogers</li>
                <li>
                    <b>Movies:</b>
                    <ul> 
                        <li>Captain America: The First Avenger</li>    
                        <li>Captain America: The Winter Soldier</li>       
                        <li>The Avengers</li>    
                        <li>The Avengers: Age of Ultron</li>
                        <li>Captain America: Civil War</li>
                        <li>Spider-Man Homecoming</li>
                    </ul>
                </li>
                <li>
                    <b>Comics:</b>
                    <ul> 
                        <li>Cap Transport (2005) #2</li>    
                        <li>Cap Transport (2005) #13</li> 
                        <li>Cap Transport (2005) #3</li>    
                        <li>Cap Transport (2005) #15</li> 
                        <li>Cap Transport (2005) #7</li>    
                        <li>Cap Transport (2005) #17</li> 
                        <li>Cap Transport (2005) #9</li>    
                        <li>Cap Transport (2005) #10</li> 
                        <li>Cap Transport (2005) #19</li>    
                        <li>Cap Transport (2005) #12</li> 
                        <li>Cap Transport (2005) #20</li>    
                        <li>Cap Transport (2005) #5</li>
                        <li>Cap Transport (2005) #16</li>    
                        <li>Cap Transport (2005) #8</li> 
                        <li>Cap Transport (2005) #18</li>    
                        <li>Cap Transport (2005) #11</li>  
                        <li>Generations: Sam Wilson Captain America & Steve Rogers Captain America (2017) #1</li>
                        <li>Marvel Legacy (2017) #1</li>
                        <li>Captain America: Secret Empire (Trade Paperback)</li>
                    </ul> 
                </li>
            </ul>
        </div>
    </div>
{% endblock %}