<!-- This is the template for a character instance-->


{%- extends "base.html" %}

{% block title %}Character instance{% endblock %}

{% block content %}
    <div class="panel panel-default" >
        <h1>{{model.name}}</h1>

        <div class="panel-body">

            <h3>Information</h3>
            <ul>
                <li><b>Name:</b> {{model.name}}</li>
                <li><b>Power:</b> {{model.power}}</li>
                <li><b>Origin:</b> {{model.origin}}</li>
                <li><b>Real Name:</b> {{model.realName}}</li>
                <li><b>Relevant Movies/TV Shows:</b> {{model.relevantMedia}}</li>
                <li><b>Comic Series:</b> {{model.comicSeries}}</li>
            </ul>

        </div>
    </div>
{% endblock %}
