{%- extends "base.html" %}

{% block title %}Chris Evans{% endblock %}

{% block content %}
    <div class="panel panel-default" >
        <h1>Chris Evans</h1>

        <div class="panel-body">
            <div class="panel-heading"><a href="#">Chris Evans</a></div>
            <h3>Information</h3>
            <ul>
                <li><b>Name:</b> Chris Evans</li>
                <li><b>Birth Year:</b> 1981</li>
                <li><b>Primary Profession:</b> Actor</li>
                <li><b>Works:</b> Captain America: The First Avenger, Captain America: Super Soldier, The Avengers, Thor: The Dark World, Captain America: The Winter Soldier, Avengers: Age of Ultron, Captain America: Civil War, Spider-Man: Homecoming, Avengers: Infinity War</li>
                <li><b>Known For:</b>The Avengers, Captain America: The Winter Soldier, Captain America: Civil War, Captain America: The First Avenger</li>
            </ul>
        </div>
    </div>
{% endblock %}
