{%- extends "base.html" %}

{% block title %}The Mighty Thor Omnibus Vol. 3 (Hardcover){% endblock %}

{% block content %}
    <div class="panel panel-default" >
        <h1>The Mighty Thor Omnibus Vol. 3 (Hardcover)</h1>

        <div class="panel-body">
            <div class="panel-body"><img src="http://www.forbiddenplanet.co.uk/images/_2017_03_/GA1407.jpg" class="img-responsive" class="img-responsive" style="width:100%" alt="Image"></div>
            <h3>Information</h3>
            <ul>
                <li><b>Title:</b> The Mighty Thor Omnibus Vol. 3 (Hardcover)</li>
                <li><b>Superhero:</b> Thor</li>
                <li><b>Release Date:</b> 2017-05-22</li>
                <li><b>Writer:</b> Gerry Conway, Stan Lee, Larry Lieber</li>
                <li><b>Description:</b> Stan Lee! Jack Kirby! John Buscema! Their Thor sagas were so big, so epic, so utterly cosmic in scope, we may need to ask the Surgeon General to slap a warning on this oversized Omnibus collection! It begins with the malignant Mangog, a beast from the darkest depths of Asgard...a beast of the apocalypse Ragnarok! Then, Thor and Ego the Living Planet battle Galactus! The Lord of the Underworld returns! \"Him\" kidnaps Lady Sif! Galactus' origin is told -and Thor grapples with the Wrecker! Meanwhile, Loki enters the fray, scheming his way to Asgard's throne and putting the entire realm at risk. And don't forget the Silver Surfer! With painstaking art restoration and every original letters page included, this Omnibus is a must-have for every Marvel fan! </li>
                <li><b>Event:</b> </li>
                
            </ul>
        </div>
    </div>
{% endblock %}