{%- extends "base.html" %}

{% block title %}A+X (2012 - Present){% endblock %}

{% block content %}
    <div class="container" style="margin: auto; margin-top:100px; width: 500px">
        <div class="panel panel-default" >
            <div class="panel-heading">
            <h1>A+X (2012 - Present)</h1>

            <div class="panel-body">
                <div class="panel-body"><img src="http://comicsalliance.com/files/2012/09/aplusx2012003dc11.jpg" class="img-responsive" class="img-responsive" style="width:100%" alt="Image"></div>
                <h3>Information</h3>
                <ul>
                    <li><b>Series Title:</b> A+X (2012 - Present)</li>
                    <li><b>Character(s):</b> Absorbing, Beast, Black Panther, Black Widow, Bucky, Cable, <a href="{{url_for('frontend.character', name='captainamerica')}}">Captain America</a>, <a href="{{url_for('frontend.character', name='spiderman')}}">Spider-Man</a></li>
                    <li><b>Year:</b> 2012</li>
                    <li><b>Creators:</b> Jason Aaron, Kaare Andrews, James Asmus</li>
                    <li><b>Type:</b> Ongoing</li>
                    <li><b>No. Issues:<b/> 66</li>
                    <li><b>Event:</b> <a href="{{url_for('frontend.show', page='events.html')}}">None</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}