{%- extends "base.html" %}

{% block title %}The Mighty Thor Omnibus Vol. 3 (Hardcover){% endblock %}

{% block content %}
    <div class="panel panel-default" >
        <h1>The Mighty Thor Omnibus Vol. 3 (Hardcover)</h1>

        <div class="panel-body">
            <div class="panel-body"><img src="http://www.forbiddenplanet.co.uk/images/_2017_03_/GA1407.jpg" class="img-responsive" class="img-responsive" style="width:100%" alt="Image"></div>
            <h3>Information</h3>
            <ul>
                <li><b>Series Title:</b> The Mighty Thor Omnibus Vol. 3 (Hardcover)</li>
                <li><b>Main Character:</b> Thor</li>
                <li><b>Release Date:</b> 2017-05-22</li>
                <li><b>Creators:</b> Jack Kirby, Stan lee, Esad Ribic</li>
                <li><b>Type:</b> Collection</li>
                <li><b>Event:</b> </li>    
            </ul>
        </div>
    </div>
{% endblock %}