{%- extends "base.html" %}

{% block title %}Annihilation (2006 - 2007){% endblock %}

{% block content %}
    <div class="container" style="margin: auto; margin-top:100px; width: 500px">
        <div class="panel panel-default" >
            <div class="panel-heading">

            <h1>Annihilation (2006 - 2007)</h1>

            <div class="panel-body">
                <div class="panel-body"><img src="https://d1466nnw0ex81e.cloudfront.net/n_iv/600/1115927.jpg" class="img-responsive" class="img-responsive" style="width:100%" alt="Image"></div>
                <h3>Information</h3>
                <ul>
                    <li><b>Series Title:</b> Annihilation (2006 - 2007)</li>
                    <li><b>Main Character:</b> Annihilus, Drax, <a href="{{url_for('frontend.character', name='starlord')}}">Peter Quill</a></li>
                    <li><b>Year:</b> 2006</li>
                    <li><b>Creators:</b> Gabriele Dell'Otto, Bryan Hitch, Keith Giffen, Andrea Di Vito</li>
                    <li><b>Type:</b> Limited</li>
                    <li><b>Event:</b>  <a href="{{url_for('frontend.show', page='ageOfApocolypse.html')}}">Age of Apocolypse</a></li>  
                    <li><b>Event:</b> <a href="{{url_for('frontend.event', name='ageOfApocolypse')}}">Age of Apocalypse</a></li> 
                </ul>
            </div>
        </div>
    </div>
{% endblock %}