<!-- This file is the model Comics page, should have a grid of comics instances -->
{%- extends "base.html" %}

{% block title %}Comic Series{% endblock %}

{% block content %}
    <div class="container" style="margin-top:100px;">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-info">
            <div class="panel-heading"><a href="{{url_for('frontend.comic', name='comicseries1')}}">Generations: Sam Wilson Captain America & Steve Rogers Captain America (2017)</a></div>
            <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/Item/543192/copyOfFirstPage._SX1280_QL80_TTD_.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">
              Generations: Sam Wilson Captain America & Steve Rogers Captain America (2017)
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-danger">
            <div class="panel-heading"><a href="{{url_for('frontend.comic', name='comicseries2')}}">A+X (2012 - Present)</a></div>
            <div class="panel-body"><img src="http://comicsalliance.com/files/2012/09/aplusx2012003dc11.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">
                A+X (2012 - Present)
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading"><a href="{{url_for('frontend.comic', name='comicseries3')}}">Annihilation (2006 - 2007)</a></div>
            <div class="panel-body"><img src="https://d1466nnw0ex81e.cloudfront.net/n_iv/600/1115927.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">
                Annihilation (2006 - 2007)
              </div>
          </div>
        </div>
      </div>
    </div><br>
{% endblock %}
