{%- extends "base.html" %}

{% block title %}Generations: Sam Wilson Captain America & Steve Rogers Captain America (2017) #1{% endblock %}

{% block content %}
    <div class="panel panel-default" >
        <h1>Generations: Sam Wilson Captain America & Steve Rogers Captain America (2017) #1</h1>

        <div class="panel-body">
            <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/Item/543192/copyOfFirstPage._SX1280_QL80_TTD_.jpg" class="img-responsive" class="img-responsive" style="width:100%" alt="Image"></div>
            <h3>Information</h3>
            <ul>
                <li><b>Title:</b> Generations: Sam Wilson Captain America & Steve Rogers Captain America (2017) #1</li>
                <li><b>Superhero:</b> Captain America</li>
                <li><b>Release Date:</b> 2017-09-04</li>
                <li><b>Writer:</b> Nick Spencer</li>
                <li><b>Description:</b> They were part of the Greatest Generation! And now Sam Wilson finds himself alongside them yet again in a strange yet familiar setting - fighting shoulder-to-shoulder with Captain America and Bucky against a seemingly unstoppable threat to the safety of the world!</li>
                <li><b>Event:</b> </li>
                
            </ul>
        </div>
    </div>
{% endblock %}