{%- extends "base.html" %}

{% block title %}Peter Parker: Spider-Man (1999){% endblock %}

{% block content %}
    <div class="container" style="margin: auto; margin-top:100px; width: 500px">
        <div class="panel panel-default" >
            <div class="panel-heading">
            <h1>Peter Parker: Spider-Man (1999)</h1>

            <div class="panel-body">
                <div class="panel-body"><img src="http://vignette3.wikia.nocookie.net/marveldatabase/images/9/9b/Peter_Parker%2C_The_Spectacular_Spider-Man_Vol_1_79.jpg/revision/latest?cb=20080612220717" class="img-responsive" class="img-responsive" style="width:100%" alt="Image"></div>
                <h3>Information</h3>
                <ul>
                    <li><b>Series Title:</b> Peter Parker: Spider-Man (1999)</li>
                    <li><b>Main Character:</b> Spider-Man</li>
                    <li><b>Release Date:</b> 2001-11-30</li>
                    <li><b>Creators:</b> Todd Dezago and Daniel Quantz</li>
                    <li><b>Type:</b> Series</li>
                    <li><b>No. Issues:<b/> 101</li>
                    <li><b>Event:</b> </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}