{%- extends "base.html" %}

{% block title %}Defenders{% endblock %}

{% block content %}
<div class="container" style="margin: auto; margin-top:100px; width: 500px">
    <div class="panel panel-default" >
        <div class="panel-heading">
          <h1>Defenders</h1>

        <div class="panel-body">
            <div class="panel-body"><img src="https://image.tmdb.org/t/p/w500/49XzINhH4LFsgz7cx6TOPcHUJUL.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <h3>Information</h3>
            <ul>
                <li><b>Name:</b>Defenders</li>
                <li><b>Overview:</b> Daredevil, Jessica Jones, Luke Cage and Iron Fist join forces to take on common enemies as a sinister conspiracy threatens New York City.</li>
                <li><b>Air Date:</b> 2017-08-18 </li>
                <li><b>Cast:</b>
                        <ul>
                            <li>Charlie Cox</li>
                            <li>Krysten Ritter</li>
                            <li>Mike Colter</li>
                            <li>Finn Jones</li>
                            <li><a href="{{url_for('frontend.show', page='ChrisEvans.html')}}">Chris Evans</a></li>
                        </ul>
                </li>
                <li><b>Characters:</b>
                    <ul>
                        <li>Daredevil</li>
                        <li>Jessica Jones</li>
                        <li>Luke Cage</li>
                        <li>Iron Fist</li>
                        <li><a href="{{url_for('frontend.show', page='captainamerica.html')}}">Captain America</a></li>
                    </ul>
                </li>
                <li><b>Average Rating:</b> 71.3</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
