<!-- This is the template for an event instance-->


{%- extends "base.html" %}

{% block title %}Event instance{% endblock %}

{% block content %}
    <div class="panel panel-default" >
        <h1>{{model.name}}</h1>

        <div class="panel-body">

            <h3>Information</h3>
            <ul>
                <li><b>Writers:</b> {{model.writers}}</li>
                <li><b>Plot Points:</b> {{model.plotPoints}}</li>
                <li><b>Characters:</b> {{model.characters}}</li>
                <li><b>Date:</b> {{model.date}}</li>
                <li><b>Illustrator:</b> {{model.illustrator}}</li>
                <li><b>Corresponding Comic Series:</b> {{model.comicseries}}</li>
            </ul>

        </div>
    </div>
{% endblock %}
