{%- extends "base.html" %}

{% block title %}Guardians of the Galaxy Vol 2{% endblock %}

{% block content %}
    <div class="panel panel-default" >
        <h1>Guardians of the Galaxy Vol 2</h1>

        <div class="panel-body">
            <div class="panel-heading"><a href="#">Guardians of the Galaxy Vol 2</a></div>
            <h3>Information</h3>
            <ul>
                <li><b>Year:</b> 2017</li>
                <li><b>Director:</b> James Gunn</li>
                <li><b>Writer:</b> James Gunn, Dan Abnett</li>
                <li><b>Cast:</b> Chris Pratt, Zoe Saldana, Dave Bautista</li>
                <li><b>Runtime:</b> 2h 16min</li>
                <li><b>Rating:</b> 7.9/10</li>
            </ul>
        </div>
    </div>
{% endblock %}
