{%- extends "base.html" %}

{% block title %}Guardians of the Galaxy Vol 2{% endblock %}

{% block content %}
<div class="container" style="margin: auto; margin-top:100px; width: 500px">
    <div class="panel panel-default" >
        <div class="panel-heading">
            <h1>Guardians of the Galaxy Vol 2</h1>

        <div class="panel-body">
            <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTg2MzI1MTg3OF5BMl5BanBnXkFtZTgwNTU3NDA2MTI@._V1_UX182_CR0,0,182,268_AL_.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <h3>Information</h3>
            <ul>
                <li><b>Year:</b> 2017</li>
                <li><b>Director:</b> James Gunn</li>
                <li><b>Writer:</b> James Gunn, Dan Abnett</li>
                <li><b>Cast:</b> Chris Pratt, Zoe Saldana, Dave Bautista</li>
                <li><b>Runtime:</b> 2h 16min</li>
                <li><b>Rating:</b> 7.9/10</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
