{%- extends "base.html" %}

{% block title %}Guardians of the Galaxy Vol 2{% endblock %}

{% block content %}
<div class="container" style="margin: auto; margin-top:100px; width: 500px">
    <div class="panel panel-default" >
        <div class="panel-heading">
            <h1>Guardians of the Galaxy Vol 2</h1>

        <div class="panel-body">
            <div class="panel-body"><img src="https://image.tmdb.org/t/p/w500/y4MBh0EjBlMuOzv9axM4qJlmhzz.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <h3>Information</h3>
            <ul>
                <li><b>Year:</b> 2017</li>
                <li><b>Director:</b> James Gunn</li>
                <li><b>Writer:</b> James Gunn, Dan Abnett</li>
                <li><b>Main Characters:</b>
                    <ul>
                        <li><a href="{{url_for('frontend.show', page='starlord.html')}}">Star-Lord</a></li>
                        <li>Gamora</li>
                        <li>Rocket</li>
                        <li>Groot</li>
                    </ul>
                </li>
                <li><b>Cast:</b> 
                    <ul>
                        <li><a href="{{url_for('frontend.show', page='chrisPratt.html')}}">Chris Pratt</a></li>
                        <li>Zoe Saldana</li>
                        <li>Dave Bautista</li>
                    </ul>
                <li><b>Runtime:</b> 2h 16min</li>
                <li><b>Rating:</b> 7.9/10</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
