{%- extends "base.html" %}

{% block title %}Joss Whedon{% endblock %}

{% block content %}
    <div class="panel panel-default" >
        <h1>Joss Whedon</h1>

        <div class="panel-body">
            <div class="panel-heading"><a href="#">Joss Whedon</a></div>
            <h3>Information</h3>
            <ul>
                <li><b>Name:</b> Joss Whedon</li>
                <li><b>Birth Year:</b> 1964</li>
                <li><b>Primary Profession:</b> Screenwriter</li>
                <li><b>Works:</b> The Avengers, The Avengers : Age of Ultron, Agents of S.H.I.E.L.D., Ultimate Spider-Man</li>
                <li><b>Known For:</b>The Avengers, The Avengers: Age of Ultron</li>
            </ul>
        </div>
    </div>
{% endblock %}
