<!-- This is the template for a movie instance-->


{%- extends "base.html" %}

{% block title %}Movie instance{% endblock %}

{% block content %}
<div class="container" style="margin-top:100px; width: 500px">
    <div class="panel panel-default" >
        <h1>{{movie.title}}</h1>

        <div class="panel-body">
            <img src="{%if movie.poster_path%}{{'https://image.tmdb.org/t/p/w500'+movie.poster_path}}{% endif %}" class="img-responsive" style="width:100% ">
            <h3>Information</h3>
            <ul>
                <li><b>Overview:</b> {{movie.overview}}</li>
                <li><b>Release date:</b> {{movie.release_date}}</li>
                <li><b>Director:</b> </li>
                <li><b>Writer:</b> </li>
                <li><b>Cast:</b>{{movie.cast}} </li>
                <li><b>Runtime:</b> {{movie.runtime}}</li>
                <li><b>Rating:</b> {{movie.vote_average*10}} /100</li>
            </ul>

        </div>
    </div>
  </div>
{% endblock %}
