{%- extends "base.html" %}

{% block title %}Spider-Man{% endblock %}

{% block content %}
    <div class="panel panel-default" >
        <h1>Spider-Man</h1>

        <div class="panel-body">
            <div class="panel-body"><img src="http://cdn3-www.superherohype.com/assets/uploads/gallery/spider-man-homecoming/c7thfxlwsaapuf.jpg" class="img-responsive" class="img-responsive" style="width:100%" alt="Image"></div>
            <h3>Information</h3>
            <ul>
                <li><b>Name:</b> Spider-Man</li>
                <li><b>Power:</b> Web/Spidey sense</li>
                <li><b>Origin:</b> Bitten by a radioactive spider, high school student peter Parker gained the speed, strength and powers of a spider. Adopting the name Spider-Man, Peter hoped to start a career using his new abilities. Taught that with great power comes great responsibility, Spidey has vowed to use his powers to help people.</li>
                <li><b>Real Name:</b> Peter Parker</li>
                <li>
                    <b>Movies:</b> 
                    <li>Peter Parker: Spider-Man (1999) #79</li>    
                </li>
                <li><b>Comics:</b> 7.9/10</li>
            </ul>
        </div>
    </div>
{% endblock %}