{%- extends "base.html" %}

{% block title %}Spiderman Homecoming{% endblock %}

{% block content %}
<div class="container" style="margin: auto; margin-top:100px; width: 500px">
    <div class="panel panel-default" >
        <div class="panel-heading">
          <h1>Spiderman Homecoming</h1>

        <div class="panel-body">
            <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNTk4ODQ1MzgzNl5BMl5BanBnXkFtZTgwMTMyMzM4MTI@._V1_UX182_CR0,0,182,268_AL_.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <h3>Information</h3>
            <ul>
                <li><b>Year:</b> 2017</li>
                <li><b>Director:</b> Jon Watts</li>
                <li><b>Writer:</b> Jonathan Goldstein, John Francis Daley</li>
                <li><b>Cast:</b> Tom Holland, Michael Keaton, Robert Downey Jr.</li>
                <li><b>Runtime:</b> 2h 13min</li>
                <li><b>Rating:</b> 7.9/10</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
