{%- extends "base.html" %}

{% block title %}Spider-Man{% endblock %}

{% block content %}
    <div class="panel panel-default" >
        <h1>Spider-Man</h1>

        <div class="panel-body">
            <div class="panel-body"><img src="http://cdn3-www.superherohype.com/assets/uploads/gallery/spider-man-homecoming/c7thfxlwsaapuf.jpg" class="img-responsive" class="img-responsive" style="width:100%" alt="Image"></div>
            <h3>Information</h3>
            <ul>
                <li><b>Name:</b> Spider-Man</li>
                <li><b>Power:</b> Web/Spidey sense</li>
                <li><b>Origin:</b> Bitten by a radioactive spider, high school student peter Parker gained the speed, strength and powers of a spider. Adopting the name Spider-Man, Peter hoped to start a career using his new abilities. Taught that with great power comes great responsibility, Spidey has vowed to use his powers to help people.</li>
                <li><b>Real Name:</b> Peter Parker</li>
                <li>
                    <b>Movies:</b>
                    <ul> 
                        <li>Spider-Man</li>    
                        <li>Spider-Man 2</li>    
                        <li>Spider-Man 3</li>    
                        <li>The Amazing Spider-Man</li>    
                        <li>The Amazing Spider-Man 2</li>
                        <li>Spider-Man Homecoming</li>
                        <li>The Avengers: Age of Ultron</li>
                    </ul>
                </li>
                <li>
                    <b>Comics:</b>
                    <ul> 
                        <li>Peter Parker: Spider-Man (1999) #79</li>    
                        <li>Marvel Age Spider-Man Vol. 2: Everyday Hero (Digest)</li> 
                        <li>Amazing Spider-Man (1999) #558 (Turner Variant)</li> 
                        <li>Spider-Man: The Daily Bugle (Trade Paperback)</li> 
                        <li>Spider-Man 2099 Vol. 7: Back to the Future, Shock! (Trade Paperback)</li> 
                        <li>Generations: Miles Morales Spider-Man & Peter Parker Spider-Man (2017) #1</li> 
                        <li>Spider-Man/Deadpool Vol. 3: Itsy Bitsy (Trade Paperback)</li> 
                        <li>Avengers (2016) #11</li> 
                        <li>Howard the Duck: The Complete Collection Vol. 4 (Trade Paperback)</li>
                        <li>Amazing Spider-Man: Renew Your Vows (2016) #11</li> 
                        <li>Spider-Men II (2017) #3</li> 
                        <li>Amazing Spider-Man (2015) #32</li> 
                        <li>Avengers by Brian Michael Bendis: The Complete Collection Vol. 1 (Trade Paperback)</li> 
                        <li>Marvel Masterworks: Marvel Two-In-One Vol. 2 (Hardcover)</li> 
                        <li>Amazing Spider-Man: Worldwide Vol. 2 (Hardcover)</li> 
                        <li>Spider-Man/Deadpool (2016) #21</li> 
                    </ul> 
                </li>
            </ul>
        </div>
    </div>
{% endblock %}