{%- extends "base.html" %}

{% block title %}Spider-Man{% endblock %}

{% block content %}
    <div class="panel panel-default" >
        <h1>Spider-Man</h1>

        <div class="panel-body">
            <div class="panel-body"><img src="http://cdn3-www.superherohype.com/assets/uploads/gallery/spider-man-homecoming/c7thfxlwsaapuf.jpg" class="img-responsive" class="img-responsive" style="width:100%" alt="Image"></div>
            <h3>Information</h3>
            <ul>
                <li><b>Name:</b> Spider-Man</li>
                <li><b>Power:</b> Web/Spidey sense</li>
                <li><b>Origin:</b> Bitten by a radioactive spider, high school student peter Parker gained the speed, strength and powers of a spider. Adopting the name Spider-Man, Peter hoped to start a career using his new abilities. Taught that with great power comes great responsibility, Spidey has vowed to use his powers to help people.</li>
                <li><b>Real Name:</b> Peter Parker</li>
                <li>
                    <b>Relevant Movies/TV Shows:</b>
                    <ul> 
                        <li>Spider-Man</li>    
                        <li>Spider-Man 2</li>    
                        <li>Spider-Man 3</li>    
                        <li>The Amazing Spider-Man</li>    
                        <li>The Amazing Spider-Man 2</li>
                        <li>Spider-Man Homecoming</li>
                        <li>The Avengers: Age of Ultron</li>
                    </ul>
                </li>
                <li>
                    <b>Comic Series:</b>
                    <ul> 
                        <li>101 Ways to End the Clone Saga (1997)</li>    
                        <li>A Year of Marvels (2017)</li> 
                        <li>A Year of Marvels: April Infinite Comic (2016 - Present)</li> 
                        <li>A+X (2012 - Present)</li> 
                        <li>Actor Presents Spider-Man and the Incredible Hulk (2003)</li> 
                        <li>Age of Heroes (2010)</li> 
                        <li>Age of Heroes (2011)</li> 
                        <li>Age of Ultron (2013)</li> 
                        <li>Alias Omnibus (2006)</li>
                        <li>Alpha (2013 - Present)</li> 
                        <li>Alpha Flight (1983 - 1994)</li> 
                        <li>Alpha Flight Classic Vol. 1 (2007)</li> 
                        <li>Amazing Fantasy (1962)</li> 
                        <li>Amazing Fantasy (2004 - 2006)</li> 
                        <li>Amazing Fantasy 15: Spider-Man! (2011 - 2012)</li> 
                        <li>Amazing Fantasy Omnibus (2007)</li> 
                        <li>Amazing Spider-Girl (2006 - 2009)</li> 
                        <li>Amazing Spider-Girl Vol. 1: Whatever Happened to the Daughter of Spider-Man (2007)</li> 
                        <li>Amazing Spider-Girl Vol. 2: Comes the Carnage! (2007)</li> 
                        <li>Amazing Spider-Man (2015 - Present)</li> 
                    </ul> 
                </li>
            </ul>
        </div>
    </div>
{% endblock %}