{%- extends "base.html" %}

{% block title %}The Avengers{% endblock %}

{% block content %}
<div class="container" style="margin: auto; margin-top:100px; width: 500px">
    <div class="panel panel-default" >
        <div class="panel-heading">
            <h1>The Avengers</h1>

        <div class="panel-body">
            <div class="panel-body"><img src="https://image.tmdb.org/t/p/w500/cezWGskPY5x7GaglTTRN4Fugfb8.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <h3>Information</h3>
            <ul>
                <li><b>Year:</b> 2012</li>
                <li><b>Director:</b> Joss Whedon</li>
                <li><b>Writer:</b> 
                    <ul>
                        <li>Joss Whedon</li>
                        <li>Zak Penn</li>
                    </ul>
                </li>
                <li><b>Main Characters:</b>
                    <ul>
                        <li><a href="{{url_for('frontend.show', page='ironman.html')}}">Iron Man</a></li>
                        <li><a href="{{url_for('frontend.show', page='captainamerica.html')}}">Captain America</a></li>
                        <li>The Hulk</li>
                        <li>Black Widow</li>
                        <li>Thor</li>
                        <li>Hawkeye</li>
                    </ul>
                </li>
                <li><b>Cast:</b>
                    <ul>
                        <li><a href="{{url_for('frontend.show', page='robertdowneyjr.html')}}">Robert Downey Jr.</a></li>
                        <li><a href="{{url_for('frontend.show', page='ChrisEvans.html')}}">Chris Evans</a></li>
                        <li>Scarlett Johansson</li>
                    </ul>
                </li>
                <li><b>Runtime:</b> 2h 23min</li>
                <li><b>Rating:</b> 8.1/10</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}