{%- extends "base.html" %}

{% block title %}The Avengers{% endblock %}

{% block content %}
<div class="container" style="margin: auto; margin-top:100px; width: 500px">
    <div class="panel panel-default" >
        <div class="panel-heading">
            <h1>The Avengers</h1>

        <div class="panel-body">
            <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_UX182_CR0,0,182,268_AL_.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <h3>Information</h3>
            <ul>
                <li><b>Year:</b> 2012</li>
                <li><b>Director:</b> Joss Whedon</li>
                <li><b>Writer:</b> Joss Whedon, Zak Penn</li>
                <li><b>Cast:</b> Robert Downey Jr, Chris Evans, Scarlett Johansson</li>
                <li><b>Runtime:</b> 2h 23min</li>
                <li><b>Rating:</b> 8.1/10</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}