{%- extends "base.html" %}

{% block content %}
<div class="container" style="margin-top:100px;">
  {% for show in shows if show.poster_path %}
    {% if loop.index0 % 3 == 0 %}
      <div class="row">
    {% endif %}
    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">{{show.name}}</div>
        <div class="panel-body">
          <img src="{%if show.poster_path%}{{'https://image.tmdb.org/t/p/w500'+show.poster_path}}{% endif %}" class="img-responsive" style="width:100% ">
        </div>
        <div class="panel-footer">
          <b>Overview:</b> {{show.overview}} <br>
          <b>Air Date:</b> {{show.first_air_date}} <br>


        </div>
      </div>
    </div>
    {% if loop.index0 % 3 == 2 %}
  </div>
    {% endif %}
   {% endfor %}
</div>
</div><br>

{% endblock %}
