body {
 /*background: radial-gradient(#636262,black);*/
  background: black;
  color: #848484;
  font-family: TradeGothicLTStd, sans-serif;
  font-style: normal;
  font-weight: 400;

}
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: black;
}

@font-face {
    font-family: "TradeGothicLTStd";
    font-weight: bold;
    src: local("/TradeGothicLTStd"), url(./TradeGothicLTStd.otf) format("opentype"); 
}