{%- extends "base.html" %}

{% block title %}Agent Carter{% endblock %}

{% block content %}
<div class="container" style="margin: auto; margin-top:100px; width: 500px">
    <div class="panel panel-default" >
        <div class="panel-heading">
          <h1>Agent Carter</h1>

        <div class="panel-body">
            <div class="panel-body"><img src="https://image.tmdb.org/t/p/w500/mQWBExOnHrGVsjkpWczJjo6bhZy.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <h3>Information</h3>
            <ul>
                <li><b>Name:</b> Agent Carter</li>
                <li><b>Overview:</b> It's 1946, and peace has dealt Peggy Carter a serious blow as she finds herself marginalized when the men return home from fighting abroad. Working for the covert SSR (Strategic Scientific Reserve), Peggy must balance doing administrative work and going on secret missions for Howard Stark all while trying to navigate life as a single woman in America, in the wake of losing the love of her life - Steve Rogers. </li>
                <li><b>Air Date:</b>  2015-01-06 </li>
                <li><b><a href="{{url_for('frontend.show', page='actors.html')}}">Cast:</a></b>
                        <ul>
                            <li>Hayley Atwell</li>
                            <li>James D'Arcy</li>
                            <li>Chad Michael Murray</li>
                            <li>Enver Gjokaj</li>
                        </ul>
                </li>
                <li><b><a href="{{url_for('frontend.show', page='characters.html')}}">Characters:</a></b>
                    <ul>
                        <li>Peggy Carter</li>
                        <li>Edwin Jarvis</li>
                        <li>Jack Thompson</li>
                        <li>Daniel Sousa</li>
                    </ul>
                </li>
                <li><b>Average Rating:</b> 72.0</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
