{%- extends "base.html" %}

{% block title %}Chris Pratt{% endblock %}

{% block content %}
<div class="container" style="margin: auto; margin-top:100px; width: 500px">
    <div class="panel panel-default" >
        <div class="panel-heading">
          <h1>Chris Pratt</h1>

        <div class="panel-body">
            <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNzg3MTgwOTgzMV5BMl5BanBnXkFtZTgwODIxMTUwMjE@._V1_SY1000_CR0,0,666,1000_AL_.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <h3>Information</h3>
            <ul>
                <li><b>Name:</b> Chris Pratt</li>
                <li><b>Birth Year:</b> 1979</li>
                <li>    <b>Works:</b>
                        <ul>
                            <li>Guardians of the Galaxy</li>
                            <li> <a href="{{url_for('frontend.show', page='guardiansofthegalaxy.html')}}">The Guardians of the Galaxy 2</a></li>
                            <li>The Avengers: Infinity War</li>
                        </ul>
                <li><b>Character:</b><a href="{{url_for('frontend.show', page='starlord.html')}}"> Star-Lord</a></li>
                <li><b>Non-Marvel Works:</b> 
                    <ul>
                        <li>Passenger</li>
                        <li>Jurassic World</li>
                        <li>The Magnificent Seven</li>
                    </ul>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
